.container {
  padding: 12px 0;
}
.select {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 14px;
  list-style: none;
  padding: 12px;
  width: 100%;
}
.select .item {
  display: block;
  border: 2px solid #dee0e2;
  border-radius: 8px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  padding: 6px 0;
  background: #fff;
  width: 100%;
}
.select .item.active {
  border: 2px solid #547a9f;
}
.select img {
  height: 100px;
  width: auto;
  max-width: 100%;
  margin: 24px;
  margin: auto;
  display: block;
  margin-bottom: 12px;
}
.select h3 {
  font-size: 12pt;
  margin: 0 24px;
  text-align: center;
  color: #283746;
}
.row {
  display: flex;
}
.row .right {
  width: 65%;
}
.row .left {
  margin-right: 28px;
  width: 35%;
}
.result h1,
.result h3,
.result h4 {
  text-align: center;
  color: #283746;
}
.result h1 {
  font-size: 86pt;
  font-weight: 500;
}
.result h3 {
  font-size: 34pt;
  margin-bottom: 24px;
}
.result table {
  margin: auto;
  color: #283746;
  margin: 24px auto;
}
.result td:nth-child(2) {
  padding: 0 20px;
}
