* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  background: linear-gradient(45deg, #34495e, #547a9f);
  height: 100vh;
  font-size: calc(10px + 2vmin);
  overflow: auto;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.wrapper {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}
.content {
  padding: 34px;
}
.v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
  list-style: none;
  padding: 12px;
  height: 50%;
  align-self: center;
}
.menu-item {
  background: white;
  text-decoration: none;
  text-align: center;
  color: #34495e;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
}
.menu-item div {
  width: 100%;
}
.form-group {
  margin-bottom: 24px;
}
.form-group label {
  display: block;
  margin-bottom: 8px;
}
.form-group input {
  display: block;
  font-size: 20pt;
  padding: 16px 18px 12px 18px;
  border: 2px solid #adb2b6;
  border-radius: 8px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.07);
  width: 100%;
  box-sizing: border-box;
}
.form-group input:focus {
  outline-color: #547a9f;
  border: 2px solid #dee0e2;
}

button {
  cursor: pointer;
  border: 0;
  background: linear-gradient(45deg, #34495e, #547a9f);
  color: white;
  border-radius: 6px;
  padding: 18px 34px;
  font-weight: 500;
  margin: auto;
  display: block;
  font-size: 14pt;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button.cta {
  width: 100%;
  font-weight: 400;
  font-size: 18pt;
  text-transform: uppercase;
}

.container {
  padding: 12px 0;
}
.select {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 14px;
  list-style: none;
  padding: 12px;
}
.select .item {
  display: block;
  border: 2px solid #dee0e2;
  border-radius: 8px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  padding: 6px 0;
  background: #fff;
  position: relative;
}
.select .item.disabled {
  cursor: not-allowed;
}
.select .item.disabled img,
.select .item.disabled h3 {
  opacity: 0.3;
}
.select .item.disabled::after {
  content: "Kuota Habis";
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.616);
  border-radius: 8px;
  color: white;
  padding: 2px 8px;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}
.select .item.active {
  border: 2px solid #547a9f;
}
.select img {
  height: 100px;
  width: auto;
  max-width: 100%;
  margin: 24px;
  margin: auto;
  display: block;
  margin-bottom: 12px;
}
.select h3 {
  font-size: 12pt;
  margin: 0 24px;
  text-align: center;
  color: #283746;
}
.row {
  display: flex;
}
.row .right {
  width: 65%;
}
.row .left {
  margin-right: 28px;
  width: 35%;
}
.result h1,
.result h3,
.result h4 {
  text-align: center;
  color: #283746;
}
.result h1 {
  font-size: 86pt;
  font-weight: 500;
}
.result h3 {
  font-size: 34pt;
  margin-bottom: 24px;
}
.result table {
  margin: auto;
  color: #283746;
  margin: 24px auto;
}
.result td:nth-child(2) {
  padding: 0 20px;
}
